<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiang.dao.ExpressDao">

	<resultMap type="Express" id="ExpressResult">
		<result property="id" column="id"/>
		<result property="verify" column="verify"/>
		<result property="message" column="message"/>
		<association property="user" column="userId" select="com.jiang.dao.UserDao.findById"></association>
		<association property="sender" column="senderId" select="com.jiang.dao.UserDao.findById"></association>
	</resultMap>
	
	<insert id="add" parameterType="Express">
		insert t_express
		<set>
		    <if test="user!=null">
				userId=#{user.id},
			</if>
		    <if test="message!=null and message!='' ">
				message=#{message},
			</if>
		    <if test="verify!=null and verify!='' ">
				verify=#{verify},
			</if>
		    <if test="sender!=null">
				senderId=#{sender.id},
			</if>
		</set>
	</insert>

	<update id="update" parameterType="Express">
		update t_express
		<set>
		    <if test="user!=null">
				userId=#{user.id},
			</if>
		    <if test="message!=null and message!='' ">
				message=#{message},
			</if>
		    <if test="verify!=null and verify!='' ">
				verify=#{verify},
			</if>
		    <if test="sender!=null">
				senderId=#{sender.id},
			</if>
		</set>
		where id=#{id}
	</update>

	<delete id="delete" parameterType="Integer">
		delete from t_express where id=#{id}
	</delete>

	<select id="findById" parameterType="Integer" resultMap="ExpressResult">
		select * from t_express where id=#{id}
	</select>
	
	<select id="findAll" resultMap="ExpressResult">
		select * from t_express
	</select>

	<select id="findByPage" parameterType="Map" resultMap="ExpressResult">
		select * from t_express
		<if test="userId!=null and userId!='' ">
			where userId=#{userId}
		</if>
		<if test="start!=null and quantity!=null">
			limit #{start},#{quantity}
		</if>
	</select>
	
</mapper> 