<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiang.dao.MessageDao">

	<resultMap type="Message" id="MessageResult">
		<result property="id" column="id"/>
		<result property="message" column="message"/>
		<result property="verify" column="verify"/>
		<association property="user" column="userId" select="com.jiang.dao.UserDao.findById"></association>
		<association property="product" column="productId" select="com.jiang.dao.ProductDao.findById"></association>
	</resultMap>
	

	<insert id="add" parameterType="Message">
		insert t_message
		<set>
		    <if test="userId!=null and userId!='' ">
				userId=#{userId},
			</if>
		    <if test="productId!=null and productId!='' ">
				productId=#{productId},
			</if>
		    <if test="message!=null and message!='' ">
				message=#{message},
			</if>
			verify=0
		</set>
	</insert>

	<update id="update" parameterType="Message">
		update t_message
		<set>
		    <if test="userId!=null and userId!='' ">
				userId=#{userId},
			</if>
		    <if test="productId!=null and productId!='' ">
				productId=#{productId},
			</if>
		    <if test="message!=null and message!='' ">
				message=#{message},
			</if>
		    <if test="verify!=null and verify!='' ">
				verify=#{verify},
			</if>
		</set>
		where id=#{id}
	</update>

	<delete id="delete" parameterType="Integer">
		delete from t_message where id=#{id}
	</delete>

	<select id="findById" parameterType="Integer" resultMap="MessageResult">
		select * from t_message where id=#{id}
	</select>
	
	<select id="findAll" resultMap="MessageResult">
		select * from t_message
	</select>
	
	<select id="findAllByUser" parameterType="Map" resultType="Integer">
		select count(*) from t_message
		<if test="userId!=null and userId!='' ">
			where userId=#{userId}
		</if>
	</select>

	<select id="findByPage" parameterType="Map" resultMap="MessageResult">
		select * from t_message
		<if test="userId!=null and userId!=''">
			where userId=#{userId}
		</if>
		<if test="start!=null and quantity!=null">
			limit #{start},#{quantity}
		</if>
	</select>
	
</mapper> 