<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiang.dao.ProductDao">

	<resultMap type="Product" id="ProductResult">
		<result property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="avater" column="avater"/>
		<result property="price" column="price"/>
		<result property="introduction" column="introduction"/>
	</resultMap>

	<insert id="add" parameterType="Product">
		insert t_product
		<set>
		    <if test="name!=null and name!='' ">
				name=#{name},
			</if>
		    <if test="avater!=null and avater!='' ">
				avater=#{avater},
			</if>
		    <if test="price!=null and price!='' ">
				price=#{price},
			</if>
		    <if test="introduction!=null and introduction!='' ">
				introduction=#{introduction},
			</if>
		</set>
	</insert>

	<update id="update" parameterType="Product">
		update t_product
		<set>
		    <if test="name!=null and name!='' ">
				name=#{name},
			</if>
		    <if test="avater!=null and avater!='' ">
				avater=#{avater},
			</if>
		    <if test="price!=null and price!='' ">
				price=#{price},
			</if>
		    <if test="introduction!=null and introduction!='' ">
				introduction=#{introduction},
			</if>
		</set>
		where id=#{id}
	</update>

	<delete id="delete" parameterType="Integer">
		delete from t_product where id=#{id}
	</delete>

	<select id="findById" parameterType="Integer" resultMap="ProductResult">
		select * from t_product where id=#{id}
	</select>
	
	<select id="findAll" resultMap="ProductResult">
		select * from t_product
	</select>
	
	<select id="findByPage" parameterType="Map" resultMap="ProductResult">
		select * from t_product
		<if test="start!=null and quantity!=null">
			limit #{start},#{quantity}
		</if>
	</select>
	
</mapper> 